.places {
  padding-top: 64px;
  padding-bottom: 66px;
}

.places div:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .places {
    padding-top: 88px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding-top: 92px;
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: 984px;
    margin: 0 auto;
  }
}
