.header {
  height: 42px;
  padding: 16px 0 0;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    padding: 24px 0 0;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 48px 0 0;
  }
}
