.lead__title {
  width: 288px;
  text-align: center;
  color: white;
  font-family: "Inter";
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  padding: 48px 0 16px;
  margin: 0;
}

@media (min-width: 768px) {
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}
