.lead__caption {
  align-self: start;
  padding-top: 8px;
  text-align: left;
  margin: 0;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .lead__caption {
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
  }
}
