.intro__title {
  width: 230px;
  padding: 64px 0 40px;
  margin: 0;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .intro__title {
    width: 100%;
    font-size: 54px;
    line-height: 58px;
  }
}
